<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- <form method="get" >
        <input type="text" name="szem_szin">  EZ ITT NEM MÜKSZIK szerveroldalon müködik csak megjeleniteni nem tudom
        <button type="submit">Keres</button>
    </form> -->

    <table>

        <% for( let cica of cicak ) { %>
            <tr>
                <td>
                    <%= cica.suly %> 
                </td>
                <td>
                    <%= cica.szem_szin %> 
                </td>
            </tr>
        <% } %>
    </table>
    <a href="cicak/new"><button>Új cica felvétele</button> </a>
</body>
</html>